# Ignore everything
**

# except for build stuffs
!Cargo.toml
!Cargo.lock
!src/**/*
!rust-toolchain.toml

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
